-- ======================================
-- 🚀 COMPLETE POS DATABASE SETUP (ALL-IN-ONE)
-- ไฟล์เดียวจบ สำหรับ Copy-Paste ใน Supabase SQL Editor
-- ======================================

-- เปิดใช้ UUID extension
CREATE EXTENSION IF NOT EXISTS "uuid-ossp";

-- ========== ลบข้อมูลเดิม (ถ้ามี) ==========
DROP TABLE IF EXISTS order_items CASCADE;
DROP TABLE IF EXISTS orders CASCADE;
DROP TABLE IF EXISTS daily_stats CASCADE;
DROP TABLE IF EXISTS promotions CASCADE;
DROP TABLE IF EXISTS menu_items CASCADE;
DROP TABLE IF EXISTS categories CASCADE;

-- ========== สร้างตาราง categories ==========
CREATE TABLE categories (
    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
    name VARCHAR(100) NOT NULL UNIQUE,
    description TEXT,
    active BOOLEAN DEFAULT true,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- ========== สร้างตาราง menu_items ==========
CREATE TABLE menu_items (
    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
    name VARCHAR(200) NOT NULL,
    description TEXT,
    price DECIMAL(10,2) NOT NULL CHECK (price >= 0),
    cost DECIMAL(10,2) DEFAULT 0 CHECK (cost >= 0),
    category VARCHAR(100) NOT NULL,
    image_url TEXT,
    available BOOLEAN DEFAULT true,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- ========== สร้างตาราง promotions ==========
CREATE TABLE promotions (
    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
    name VARCHAR(200) NOT NULL,
    description TEXT,
    type VARCHAR(50) NOT NULL CHECK (type IN ('percentage', 'fixed')),
    value DECIMAL(10,2) NOT NULL CHECK (value >= 0),
    min_amount DECIMAL(10,2) DEFAULT 0 CHECK (min_amount >= 0),
    max_discount DECIMAL(10,2),
    start_date TIMESTAMP WITH TIME ZONE,
    end_date TIMESTAMP WITH TIME ZONE,
    active BOOLEAN DEFAULT true,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- ========== สร้างตาราง orders ==========
CREATE TABLE orders (
    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
    order_number VARCHAR(50) UNIQUE NOT NULL,
    customer_name VARCHAR(200),
    customer_phone VARCHAR(20),
    order_type VARCHAR(50) NOT NULL DEFAULT 'dine_in' CHECK (order_type IN ('dine_in', 'takeaway', 'delivery')),
    table_number INTEGER,
    subtotal DECIMAL(10,2) NOT NULL DEFAULT 0,
    tax_amount DECIMAL(10,2) NOT NULL DEFAULT 0,
    discount_amount DECIMAL(10,2) NOT NULL DEFAULT 0,
    total_amount DECIMAL(10,2) NOT NULL DEFAULT 0,
    payment_method VARCHAR(50) DEFAULT 'cash' CHECK (payment_method IN ('cash', 'card', 'transfer')),
    payment_status VARCHAR(50) DEFAULT 'pending' CHECK (payment_status IN ('pending', 'paid', 'refunded')),
    order_status VARCHAR(50) DEFAULT 'pending' CHECK (order_status IN ('pending', 'preparing', 'ready', 'completed', 'cancelled')),
    notes TEXT,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- ========== สร้างตาราง order_items ==========
CREATE TABLE order_items (
    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
    order_id UUID NOT NULL REFERENCES orders(id) ON DELETE CASCADE,
    menu_item_id UUID NOT NULL REFERENCES menu_items(id),
    menu_item_name VARCHAR(200) NOT NULL,
    quantity INTEGER NOT NULL CHECK (quantity > 0),
    unit_price DECIMAL(10,2) NOT NULL CHECK (unit_price >= 0),
    unit_cost DECIMAL(10,2) NOT NULL DEFAULT 0 CHECK (unit_cost >= 0),
    total_price DECIMAL(10,2) NOT NULL CHECK (total_price >= 0),
    special_instructions TEXT,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- ========== สร้างตาราง daily_stats ==========
CREATE TABLE daily_stats (
    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
    date DATE NOT NULL UNIQUE,
    total_orders INTEGER NOT NULL DEFAULT 0,
    total_revenue DECIMAL(15,2) NOT NULL DEFAULT 0,
    total_items_sold INTEGER NOT NULL DEFAULT 0,
    avg_order_value DECIMAL(10,2) NOT NULL DEFAULT 0,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- ========== สร้าง INDEXES สำหรับ Performance ==========
CREATE INDEX idx_menu_items_category ON menu_items(category);
CREATE INDEX idx_menu_items_available ON menu_items(available);
CREATE INDEX idx_orders_status ON orders(order_status);
CREATE INDEX idx_orders_date ON orders(created_at);
CREATE INDEX idx_order_items_order_id ON order_items(order_id);
CREATE INDEX idx_daily_stats_date ON daily_stats(date);

-- ========== เปิดใช้ RLS (Row Level Security) ==========
ALTER TABLE categories ENABLE ROW LEVEL SECURITY;
ALTER TABLE menu_items ENABLE ROW LEVEL SECURITY;
ALTER TABLE promotions ENABLE ROW LEVEL SECURITY;
ALTER TABLE orders ENABLE ROW LEVEL SECURITY;
ALTER TABLE order_items ENABLE ROW LEVEL SECURITY;
ALTER TABLE daily_stats ENABLE ROW LEVEL SECURITY;

-- ========== สร้าง RLS POLICIES สำหรับ anon key ==========

-- Policies สำหรับ categories (อ่านได้ทุกคน)
CREATE POLICY "categories_select_policy" ON categories FOR SELECT USING (true);

-- Policies สำหรับ menu_items (อ่านได้ทุกคน สำหรับแสดงเมนู)
CREATE POLICY "menu_items_select_policy" ON menu_items FOR SELECT USING (true);

-- Policies สำหรับ promotions (อ่านได้ทุกคน สำหรับแสดงโปรโมชัน)
CREATE POLICY "promotions_select_policy" ON promotions FOR SELECT USING (true);

-- Policies สำหรับ orders (อ่าน/เขียนได้ทุกคน สำหรับระบบ POS)
CREATE POLICY "orders_select_policy" ON orders FOR SELECT USING (true);
CREATE POLICY "orders_insert_policy" ON orders FOR INSERT WITH CHECK (true);
CREATE POLICY "orders_update_policy" ON orders FOR UPDATE USING (true);

-- Policies สำหรับ order_items (อ่าน/เขียนได้ทุกคน สำหรับระบบ POS)
CREATE POLICY "order_items_select_policy" ON order_items FOR SELECT USING (true);
CREATE POLICY "order_items_insert_policy" ON order_items FOR INSERT WITH CHECK (true);
CREATE POLICY "order_items_update_policy" ON order_items FOR UPDATE USING (true);

-- Policies สำหรับ daily_stats (อ่าน/เขียนได้ทุกคน สำหรับระบบ POS)
CREATE POLICY "daily_stats_select_policy" ON daily_stats FOR SELECT USING (true);
CREATE POLICY "daily_stats_insert_policy" ON daily_stats FOR INSERT WITH CHECK (true);
CREATE POLICY "daily_stats_update_policy" ON daily_stats FOR UPDATE USING (true);

-- ========== เพิ่มข้อมูลหมวดหมู่ ==========
INSERT INTO categories (name, description) VALUES
('ก๋วยเตี๋ยว', 'เมนูก๋วยเตี๋ยวทุกชนิด'),
('ข้าว', 'เมนูข้าวทุกประเภท'),
('ผัด', 'เมนูผัดต่างๆ'),
('ส้มตำ', 'เมนูส้มตำและอาหารอีสาน'),
('เครื่องดื่ม', 'เครื่องดื่มทุกชนิด'),
('อาหารทานเล่น', 'อาหารเรียกน้ำย่อย');

-- ========== เพิ่มข้อมูลเมนูอาหาร ==========

-- ========== เพิ่มข้อมูลโปรโมชัน ==========
INSERT INTO promotions (name, description, type, value, min_amount, active) VALUES
('ลด 10% เมื่อสั่งครบ 200 บาท', 'รับส่วนลด 10% เมื่อสั่งอาหารครบ 200 บาท', 'percentage', 10.00, 200.00, true),
('ลด 50 บาท เมื่อสั่งครบ 500 บาท', 'รับส่วนลด 50 บาท เมื่อสั่งอาหารครบ 500 บาท', 'fixed', 50.00, 500.00, true),
('ลด 5% ทุกออเดอร์', 'รับส่วนลด 5% สำหรับทุกออเดอร์ไม่มีขั้นต่ำ', 'percentage', 5.00, 0.00, false);

-- ========== สร้างข้อมูล daily_stats สำหรับวันนี้ ==========
INSERT INTO daily_stats (date, total_orders, total_revenue, total_items_sold) VALUES
(CURRENT_DATE, 0, 0.00, 0);

-- ========== ตรวจสอบผลลัพธ์ ==========
SELECT 
    '✅ COMPLETE DATABASE SETUP FINISHED!' as status,
    (SELECT COUNT(*) FROM categories) as categories_count,
    (SELECT COUNT(*) FROM menu_items) as menu_items_count,
    (SELECT COUNT(*) FROM menu_items WHERE available = true) as available_items,
    (SELECT COUNT(*) FROM promotions) as promotions_count,
    (SELECT COUNT(*) FROM promotions WHERE active = true) as active_promotions;

-- ========== แสดงตัวอย่างข้อมูล ==========
SELECT '🍜 ตัวอย่างเมนูอาหาร (5 รายการแรก):' as info;
SELECT name, price, category, available FROM menu_items LIMIT 5;

SELECT '🎯 Database พร้อมใช้งานกับ POS WebApp!' as final_status;
